<?xml version="1.0"?>
<config>
    <modules>
        <WP_CustomMenu>
            <version>1.2.5</version>
        </WP_CustomMenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <custommenu>
                    <file>custommenu.xml</file>
                </custommenu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <WP_CustomMenu>
                            <title>CustomMenu Module</title>
                            <sort_order>10</sort_order>
                        </WP_CustomMenu>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>WP_CustomMenu_Block_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <custommenu>
                <class>WP_CustomMenu_Helper</class>
            </custommenu>
        </helpers>
    </global>
    <default>
        <custom_menu>
            <general>
                <enabled>0</enabled>
                <max_level>2</max_level>
            </general>
            <columns>
                <count>3</count>
                <integrate>1</integrate>
            </columns>
            <popup>
                <width>0</width>
                <top_offset>30</top_offset>
                <right_offset_min>48</right_offset_min>
            </popup>
        </custom_menu>
    </default>
</config>
