<?xml version="1.0"?>
<config>
    <modules>
        <WP_CustomMenu>
            <version>2.10.2</version>
        </WP_CustomMenu>
    </modules>
    <frontend>
        <routers>
            <custommenu>
                <use>standard</use>
                <args>
                    <frontName>custommenu</frontName>
                    <module>WP_CustomMenu</module>
                </args>
            </custommenu>
        </routers>
        <layout>
            <updates>
                <custommenu>
                    <file>webandpeople/custommenu.xml</file>
                </custommenu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <custom_menu translate="title" module="custommenu">
                                            <title><![CDATA[Web & People: Custom Menu]]></title>
                                            <sort_order>2000</sort_order>
                                        </custom_menu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>WP_CustomMenu_Block_Navigation</navigation>
                    <!-- v1.4-1.6 -->
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_topmenu>WP_CustomMenu_Block_Topmenu</html_topmenu>
                    <!-- v1.7+ -->
                </rewrite>
            </page>
            <custommenu>
                <class>WP_CustomMenu_Block</class>
            </custommenu>
        </blocks>
        <helpers>
            <custommenu>
                <class>WP_CustomMenu_Helper</class>
            </custommenu>
        </helpers>
    </global>
    <default>
        <custom_menu>
            <general>
                <version>2.10.2</version>
                <enabled>1</enabled>
                <ajax_load_content>0</ajax_load_content>
                <mobile_menu>1</mobile_menu>
                <mobile_menu_width_init>771</mobile_menu_width_init>
                <display_empty_categories>1</display_empty_categories>
                <max_level>3</max_level>
                <show_home_link>1</show_home_link>
                <non_breaking_space>0</non_breaking_space>
                <rtl>0</rtl>
            </general>
            <columns>
                <count>3</count>
                <divided_horizontally>0</divided_horizontally>
                <integrate>1</integrate>
            </columns>
            <popup>
                <width>0</width>
                <top_offset>0</top_offset>
                <delay_displaying>150</delay_displaying>
                <delay_hiding>100</delay_hiding>
            </popup>
        </custom_menu>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <about_webandpeople translate="title" module="custommenu">
                                            <title><![CDATA[Web & People: About Us]]></title>
                                            <sort_order>1000</sort_order>
                                        </about_webandpeople>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
